/*
Name: 			theme.css
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version:	10.1.0
*/
/* Base */
html {
	direction: ltr;
	overflow-x: hidden;
	box-shadow: none !important;
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'Aptos';
	src: url('/fonts/Aptos-Display-Bold.ttf') format('truetype'); /* Ruta relativa al archivo TTF */
	font-weight: normal; /* Opciones: normal, bold, etc. */
	font-style: normal;  /* Opciones: normal, italic, etc. */
  }

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: auto;
	}
}

body {
	background-color: var(--light);
	color: var(--default);
	font-family: "Aptos", Arial, sans-serif !important; 
	font-size: 15px;
	line-height: 26px;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

.whatsapp-float {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
.whatsapp-float img {
	width: 70px; /* Tamaño del ícono */
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.whatsapp-float img:hover {
	transform: scale(1.1); /* Efecto zoom al pasar el mouse */
}

body a {
	outline: none !important;
}

/* Selection */

::selection {
	color: var(--primary-inverse);
	background: var(--primary);
}

/* Body */
.body {
	background-color: var(--light);
}

a {
	text-decoration: none;
}

a:not(.btn):hover {
	text-decoration: underline;
}

li {
	line-height: 24px;
}

/* From Uiverse.io by BHARGAVPATEL1244 */
   

@media (max-width: 575px) {
	body {
		font-size: 13px;
	}
}

/* Header */
#header {
	position: relative;
	z-index: 1030;
}

#header .header-body {
	display: flex;
	flex-direction: column;
	background: var(--light);
	transition: min-height 0.3s ease;
	width: 100%;
	border-top: 3px solid #EDEDED;
	border-bottom: 1px solid transparent;
	z-index: 1001;
}

#header .header-container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	transition: ease height 300ms;
}

@media (max-width: 991px) {
	#header .header-container:not(.container):not(.container-fluid) .header-nav-main {
		padding: 0 0.75rem;
	}
}

#header .container {
	position: relative;
}

@media (max-width: 767px) {
	#header .container {
		width: 100%;
	}
}

#header .header-row {
	display: flex;
	flex-grow: 1;
	align-items: center;
	align-self: stretch;
	max-height: 100%;
}

#header .header-column {
	display: flex;
	align-self: stretch;
	align-items: center;
	flex-grow: 1;
	flex-direction: column;
}

#header .header-column .header-row {
	justify-content: inherit;
}

#header .header-top {
	display: flex;
	align-items: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.06);
	min-height: 47px;
}

#header .header-logo {
	margin: 16px 0;
	margin: 1rem 0;
	position: relative;
	z-index: 1;
}

#header .header-logo img {
	transition: all 0.3s ease;
	position: relative;
	top: 0;
	image-rendering: -webkit-optimize-contrast;
	transform: translateZ(0);
}

#header .header-nav {
	padding: 16px 0;
	padding: 1rem 0;
	min-height: 70px;
}

#header .header-btn-collapse-nav {
	background: var(--grey-500);
	color: var(--light);
	display: none;
	float: right;
	margin: 0 0 0 16px;
	margin: 0 0 0 1rem;
}

#header.header-effect-shrink {
	transition: ease height 300ms;
}

#header.header-effect-shrink .header-top {
	transition: ease height 300ms;
}

#header.header-effect-shrink .header-container {
	min-height: 100px;
}

#header.header-effect-shrink .header-logo {
	display: flex;
	align-items: center;
}

/* Header Nav Main */
@media (min-width: 992px) {
	#header .header-nav-main {
		display: flex !important;
		height: auto !important;
	}

	#header .header-nav-main nav {
		display: flex !important;
	}

	#header .header-nav-main nav > ul > li {
		height: 100%;
		align-self: stretch;
		margin-left: 2px;
	}

	#header .header-nav-main nav > ul > li > a {
		display: inline-flex;
		align-items: center;
		white-space: normal;
		border-radius: var(--border-radius);
		color: var(--grey-500);
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		padding: 0.5rem 1rem;
		letter-spacing: -0.5px;
		text-transform: uppercase;
		text-decoration: none;
	}

	#header .header-nav-main nav > ul > li > a:after {
		display: none;
	}

	#header .header-nav-main nav > ul > li > a:active {
		background-color: transparent;
		text-decoration: none;
		color: var(--grey-500);
	}

	#header .header-nav-main nav > ul > li > a.active {
		background-color: transparent;
	}

	 #header .header-nav-main nav > ul > li:hover > a {
		background: var(--grey-500);
		color: var(--light);
	}
}

@media (min-width: 992px) {

	#header .header-nav-main.header-nav-main-text-capitalize nav > ul > li > a {
		text-transform: capitalize;
	}
}

@media (min-width: 992px) {

	#header .header-nav {
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: flex-end;
		align-self: stretch;
	}

	#header .header-nav.header-nav-links {
		padding: 0;
	}

	#header .header-nav.header-nav-links .header-nav-main {
		align-self: stretch;
		min-height: 0;
		margin-top: 0;
	}

	#header .header-nav.header-nav-links nav > ul > li > a, #header .header-nav.header-nav-links nav > ul > li:hover > a {
		position: relative;
		background: transparent !important;
		padding: 0 .9rem;
		margin: 1px 0 0;
		min-height: 60px;
		height: 100%;
	}

	#header .header-nav.header-nav-links nav > ul > li:hover > a:before {
		opacity: 1;
	}

	#header .header-nav.header-nav-links nav > ul > li > a.active {
		background: transparent;
	}

	#header .header-nav.header-nav-links nav > ul > li > a.active:before {
		opacity: 1;
	}

	#header .header-nav.header-nav-links:not(.header-nav-light-text) nav > ul > li > a {
		color: #444;
	}
}

/* Header Arrows */

/* Header Nav Main Full Width Mega Menu */

/* Header Nav Main Mega Menu Bg Hover*/

/* Header Nav Main Dark Text */

/* Header Nav Main Colors */

/* Header Nav Main Dark Text */

/* Header Nav Main Stretch */

/* Header Narrow */

/* Header Nav Vertical */

/* Header Floating */

/* Header Nav Main Mobile */
@media (max-width: 991px) {
	#header .header-nav-main {
		position: absolute;
		background: transparent;
		width: 100%;
		top: 100%;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
	}

	#header .header-nav-main:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		width: 100vw;
		height: 100%;
		background: var(--light);
		z-index: -1;
		transform: translateX(-50%);
	}

	#header .header-nav-main nav {
		max-height: 50vh;
		overflow: hidden;
		overflow-y: auto;
		padding: 0 15px;
		transition: ease all 500ms;
	}

	#header .header-nav-main nav::-webkit-scrollbar {
		width: 5px;
	}

	#header .header-nav-main nav::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background: rgba(var(--grey-500), 0.5);
	}

	#header .header-nav-main nav > ul {
		padding-top: 15px;
		padding-bottom: 15px;
		flex-direction: column;
	}

	#header .header-nav-main nav > ul li {
		border-bottom: 1px solid #e8e8e8;
		clear: both;
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		position: relative;
	}

	#header .header-nav-main nav > ul li a {
		font-size: 13px;
		font-style: normal;
		line-height: 20px;
		padding: 7px 8px;
		margin: 1px 0;
		border-radius: var(--border-radius);
		text-align: left;
	}

	#header .header-nav-main nav > ul li a:active {
		background-color: #f8f9fa;
		color: inherit;
	}

	#header .header-nav-main nav > ul li:last-child {
		border-bottom: 0;
	}

	#header .header-nav-main nav > ul > li > a {
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 1px;
		margin-bottom: 1px;
		color: var(--grey-500);
	}

	#header .header-nav-main nav > ul > li > a:active {
		color: var(--grey-500);
	}

	#header .header-nav-main nav > ul > li > a.active {
		color: var(--light) !important;
		background: var(--grey-500);
	}

	#header .header-nav-main nav > ul > li > a.active:focus, #header .header-nav-main nav > ul > li > a.active:hover {
		color: var(--light);
		background: var(--grey-500);
	}

	#header .header-btn-collapse-nav {
		outline: 0;
		display: block;
		position: relative;
		z-index: 1;
	}

	#header .header-nav.header-nav-links {
		min-height: 70px;
	}
}

/* Header Nav Main Mobile Dark */

/* Header Nav Main Dark Text */

/* Header Nav Vertical */

/* Side Header Hamburguer Sidebar */

@media (min-width: 992px) {
	#header .header-body:not(.h-100) {
		height: auto !important;
	}
}

@media (max-width: 991px) {
	#header .header-logo img {
		z-index: 1;
	}

	#header .header-nav {
		display: flex;
		align-items: center;
	}
}

/* Mega Menu (Signin/SignUp) */

/* Header - Skin */

/* Header Button Collapse - Skin */
#header .header-btn-collapse-nav {
	background: var(--primary);
}

/* Header Nav Main - Skin */
@media (min-width: 992px) {
	#header .header-nav-main nav > ul > li > a {
		color: var(--primary);
	}

	 #header .header-nav-main nav > ul > li:hover > a {
		background: var(--primary);
	}

	#header .header-nav-main nav > ul:not(:hover) > li > a.active {
		background-color: var(--primary);
		color: var(--primary-inverse);
	}

	#header .header-nav.header-nav-links nav > ul li:hover > a {
		color: var(--primary);
	}

	#header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
		color: var(--primary);
	}
}

/* Header Nav Main - Skin */

/* Header Nav Main - Skin */

/* Header Nav Main Mobile - Skin */
@media (max-width: 991px) {
	#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a {
		color: var(--primary);
	}

	#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a:active {
		color: var(--primary);
	}

	#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active {
		background: var(--primary);
	}

	#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active:focus, #header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active:hover {
		background: var(--primary);
	}
}

/* Header Nav Main Mobile - Skin */

/* Header Top - Skin */

/* Header Navbar - Skin */

/* Header Nav Main Light - Skin */

/* Header Big Search - Skin */

/* Page Header */
.page-header {
	background-color: var(--dark);
	margin: 0 0 35px 0;
	padding: 30px 0;
	position: relative;
	text-align: left;
}

.page-header h1 {
	color: var(--light);
	display: inline-block;
	font-size: 30px;
	line-height: 1;
	margin: 0;
	padding: 0;
	font-weight: 400;
	position: relative;
	top: 1px;
}

.page-header.page-header-lg {
	padding: 50px 0;
}

.page-header.page-header-lg h1 {
	font-size: 40px;
}

.page-header.page-header-modern h1 {
	font-size: 28px;
}

.page-header.page-header-modern.page-header-lg {
	padding: 65px 0;
}

.page-header.page-header-modern.page-header-lg h1 {
	font-size: 32px;
}

/* Page Header - Skin */

/* Container */
@media (min-width: 1200px) {
	.container:not(.container-bs):not(.container-xl-custom):not(.container-xxl-custom) {
		max-width: 1140px;
	}
}

/* Fluid Col */

/* Gutter SM */
.row-gutter-sm {
	margin-right: -10px;
	margin-left: -10px;
}

.row-gutter-sm .col, .row-gutter-sm .col-2, .row-gutter-sm .col-3, .row-gutter-sm .col-6, .row-gutter-sm .col-8, .row-gutter-sm .col-lg-4, .row-gutter-sm .col-lg-6, .row-gutter-sm .col-lg-8, .row-gutter-sm .col-md-9, .row-gutter-sm .col-xl-3, .row-gutter-sm .col-xl-4 {
	padding-left: 10px;
	padding-right: 10px;
}

/* 
 * Order (Extending to 10) 
 * Bootstrap 5 has until 5 order class
*/

/* Grid */
/* 5 Equal Columns */

/* RTL */
/* Grid + Sidebar */

/* Half Section */

/* Content Grid */

/* Col Pull / Push - Rotate */

/* Show Grid */

/* Utilities */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

* html .clearfix {
	height: 1%;
}

/* Text - Skin */
.text-color-primary {
	color: var(--primary) !important;
}

/* Hover */
.text-color-hover-primary:hover {
	color: var(--primary) !important;
}

.text-color-secondary {
	color: var(--secondary) !important;
}

/* Hover */

/* Hover */

/* Hover */

.text-color-dark {
	color: var(--dark) !important;
}

/* Hover */

.text-color-light, .text-light {
	color: var(--light) !important;
}

/* Hover */

/* Background - Skin */
 .bg-primary {
	background-color: var(--primary) !important;
}

/* Border - Skin */

/* Gradient Font - Skin */

/* Position */

/* Box Shadow */

/* Box Shadow - Skin */

/* Flex */

/* Color Transparent */

/* Background No Repeat */

/* Background Size Auto */

/* Background Size Cover */

/* Background Position Center */

/* Background Clip Text */

/* Background Scales Overlay */

/* Background Transparent */

/* Background White and Black */

/* Inverted */

/* Min Height */

/* Paddings and Margins */
/* We need replicate these BS classes below due to the new paddings and margins below */
/* Margin */
.mb-0 {
	margin-bottom: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

/* Padding */

@media (min-width: 576px) {
		/* Margin */
		/* Padding */
}

@media (min-width: 768px) {
		/* Margin */
		/* Padding */
}

@media (min-width: 992px) {
		/* Margin */
	.mb-lg-0 {
		margin-bottom: 0 !important;
	}
		/* Padding */
}

@media (min-width: 1200px) {
		/* Margin */
	.mb-xl-0 {
		margin-bottom: 0 !important;
	}
		/* Padding */
}

/* Negative Margins */

/* Padding */

/* Margin */

/* Padding */

/* Margin */

/* Padding */

/* Margin */

@media (min-width: 576px) {
		/* Padding */
		/* Margin */
		/* Padding */
		/* Margin */
		/* Padding */
		/* Margin */
}

@media (min-width: 768px) {
		/* Padding */
		/* Margin */
		/* Padding */
		/* Margin */
		/* Padding */
		/* Margin */
}

@media (min-width: 992px) {
		/* Padding */
		/* Margin */
		/* Padding */
		/* Margin */
		/* Padding */
		/* Margin */
}

@media (min-width: 1200px) {
		/* Padding */
		/* Margin */
		/* Padding */
		/* Margin */
		/* Padding */
		/* Margin */
}

/* Before / After */

/* Letter Spacing */

.negative-ls-1 {
	letter-spacing: -1px;
}

.positive-ls-3 {
	letter-spacing: 2.5px !important;
}

/* Cursor */

/* Pointer Events */

/* Font Size */

.text-2 {
	font-size: .9em !important;
}

.text-3 {
	font-size: 1em !important;
}


.text-3-5 {
	font-size: 1.1em !important;
}

.text-4 {
	font-size: 1.2em !important;
}

.text-4-5 {
	font-size: 1.35em !important;
}

.text-5 {
	font-size: 1.50em !important;
}


.text-5-5 {
	font-size: 1.65em !important;
}

.text-6 {
	font-size: 1.80em !important;
}

.text-8 {
	font-size: 2.30em !important;
}

.text-9 {
	font-size: 2.50em !important;
}

.text-10 {
	font-size: 2.75em !important;
}

.text-12 {
	font-size: 3.5em !important;
}

@media (min-width: 768px) {

	.text-md-14 {
		font-size: 4.5em !important;
	}
}

/* Line Height */

.line-height-1 {
	line-height: 1 !important;
}

/* Opacity */

.opacity-8 {
	opacity: 0.8 !important;
}

.opacity-9 {
	opacity: 0.9 !important;
}

/* Scale */

/* Top / Bottom / Left / Right */

.top-0 {
	top: 0px !important;
}

.bottom-0 {
	bottom: 0px !important;
}

.left-0 {
	left: 0px !important;
}

.right-0 {
	right: 0px !important;
}

.top-1 {
	top: 1px !important;
}

.top-2 {
	top: 2px !important;
}

.top-3 {
	top: 3px !important;
}

.top-4 {
	top: 4px !important;
}

.top-6 {
	top: 6px !important;
}

/* Transforms */
/* Negative */

/* Positive */

/* Positive */

/* Outline */

/* Text Decoration */
.text-decoration-none {
	text-decoration: none !important;
}

/* Text Alignment */
.text-justify {
	text-align: justify;
}

/* Text Transform */

.text-transform-none {
	text-transform: none !important;
}

/* Transform */

/* States */

/* Overflow */

.overflow-hidden {
	overflow: hidden !important;
}

/* Z-Index */

.z-index-1 {
	z-index: 1 !important;
}

.z-index-3 {
	z-index: 3 !important;
}

/* Background Gradient - Skin */

/* Color Transition - Skin */
@keyframes colorTransition {
	0% {
		background-color: var(--primary);
	}

	33% {
		background-color: var(--secondary);
	}

	66% {
		background-color: var(--tertiary);
	}

	100% {
		background-color: var(--quaternary);
	}
}

/* Background Gradient Animated */

/* Star Rating */

/* Star Rating - Skin */

/* Weights */

.font-weight-light {
	font-weight: 300 !important;
}

.font-weight-medium {
	font-weight: 500 !important;
}

.font-weight-semibold {
	font-weight: 600 !important;
}

.font-weight-bold {
	font-weight: 700 !important;
}


.font-weight-extra-bold {
	font-weight: 800 !important;
}

/* Letter Space */

/* Borders */

.rounded {
	border-radius: 5px !important;
}

/* Border Radius */
.border-radius {
	border-radius: var(--border-radius) !important;
}

:root {
	--bs-border-radius: var(--border-radius);
	--bs-btn-border-radius: var(--border-radius);
}

/* Rounder Circle */

/* Border Width */

/* Border - Skin */

/* Perspective */

/* Hide Text */

/* General Helpers */

/* Width */

/* Columms (useful for lists) */

/* Height */

/* #Footer */
#footer {
	background: #353535;
	border-top: 4px solid var(--dark);
	font-size: 0.9em;
	margin-top: 50px;
	padding: 0;
	position: relative;
	clear: both;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	color: var(--light);
}

#footer a:not(.btn):not(.no-footer-css) {
	color: var(--default);
	transition: all 0.1s ease-in-out;
}

#footer a:not(.btn):not(.no-footer-css):hover {
	text-decoration: none;
	color: var(--light);
}

#footer a:not(.btn):not(.no-footer-css):focus, #footer a:not(.btn):not(.no-footer-css):active {
	color: var(--grey-500);
}

#footer a:not(.btn):not(.no-footer-css).text-color-light {
	color: var(--light) !important;
}

#footer a:not(.btn):not(.no-footer-css).text-color-light:hover {
	color: var(--light-200) !important;
}

#footer a:not(.btn):not(.no-footer-css).text-color-light:focus, #footer a:not(.btn):not(.no-footer-css).text-color-light:active {
	color: var(--light-300) !important;
}

#footer ul.list.icons li {
	margin-bottom: 5px;
}

#footer form {
	opacity: 0.85;
}

#footer .logo img {
	position: relative;
	top: 2px;
	image-rendering: -webkit-optimize-contrast;
	transform: translateZ(0);
}

#footer .footer-copyright {
	background: var(--dark-100);
}

#footer .footer-copyright nav {
	font-size: 0.9em;
}

#footer .footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .footer-copyright nav ul li {
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

#footer .footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}

#footer .footer-copyright nav ul li:last-child {
	padding-right: 0;
}

#footer .footer-copyright p {
	color: #555;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

/* Footer - Skin */

/* Dark Version */

/* Boxed Layout */

@media (max-width: 767px) {
		/* Boxed */
}

/* Boxed - Skin */
