@charset "UTF-8";
/*
Name: 			theme-elements.css
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version:	10.1.0
*/
/* Accordion */

/* Accordion - Skin */

/* Animations */
.appear-animation {
	opacity: 0;
}

/* Transitions */

/* Transition Magnetic */

/* Translate Animations */

/* Opacity Animations */

/* Side Header Arrow Animations */
@keyframes sideMenuArrow {
	0% {
		left: 5px;
	}

	50% {
		left: 10px;
	}

	100% {
		left: 5px;
	}
}

@keyframes sideMenuArrowBack {
	0% {
		right: 5px;
	}

	50% {
		right: 10px;
	}

	100% {
		right: 5px;
	}
}

/* Mask Up */
@keyframes maskUp {
	from {
		transform: translate(0, 100%);
	}

	to {
		transform: translate(0, 0);
	}
}

/* Mask Right */
@keyframes maskRight {
	from {
		transform: translate(-100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

/* Mask Down */
@keyframes maskDown {
	from {
		transform: translate(0, -100%);
	}

	to {
		transform: translate(0, 0);
	}
}

/* Mask Left */
@keyframes maskLeft {
	from {
		transform: translate(100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

/* Text Entrance */
@keyframes textEntrance {
	from {
		opacity: 0;
		transform: translateY(100%) rotateX(-80deg);
	}

	to {
		transform: none;
		opacity: 1;
	}
}

@keyframes headerReveal {
	from {
		top: -150px;
	}

	to {
		top: 0;
	}
}

/* Fade In Up Shorter */
@keyframes fadeInUpShorter {
	from {
		opacity: 0;
		transform: translate(0, 50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInUpShorter {
	animation-name: fadeInUpShorter;
}

/* Fade In Up Shorter Plus */
@keyframes fadeInUpShorterPlus {
	from {
		opacity: 0;
		transform: translate(0, 15px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInUpShorterPlus {
	animation-name: fadeInUpShorterPlus;
}

/* Fade In Left Shorter */
@keyframes fadeInLeftShorter {
	from {
		opacity: 0;
		transform: translate(50px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/* Fade In Left Shorter Plus */
@keyframes fadeInLeftShorterPlus {
	from {
		opacity: 0;
		transform: translate(15px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInLeftShorterPlus {
	animation-name: fadeInLeftShorterPlus;
}

/* Fade In Right Shorter */
@keyframes fadeInRightShorter {
	from {
		opacity: 0;
		transform: translate(-50px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/* Fade In Right Shorter Plus */
@keyframes fadeInRightShorterPlus {
	from {
		opacity: 0;
		transform: translate(-15px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInRightShorterPlus {
	animation-name: fadeInRightShorterPlus;
}

/* Fade In Right Shorter With Opacity */
@keyframes fadeInRightShorterOpacity {
	from {
		opacity: 0;
		transform: translate(-50px, 0);
	}

	to {
		opacity: 0.7;
		transform: none;
	}
}

/* Fade In Down Shorter */
@keyframes fadeInDownShorter {
	from {
		opacity: 0;
		transform: translate(0, -50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/* Fade In Down Shorter Plus */
@keyframes fadeInDownShorterPlus {
	from {
		opacity: 0;
		transform: translate(0, -15px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/* Fade In Right and Down Shorter */
@keyframes fadeInRightDownShorter {
	from {
		opacity: 0;
		transform: translate(-50px, -50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/* Fade In Right and Up Shorter */
@keyframes fadeInRightUpShorter {
	from {
		opacity: 0;
		transform: translate(-50px, 50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/* Fade In Left and Down Shorter */
@keyframes fadeInLeftDownShorter {
	from {
		opacity: 0;
		transform: translate(50px, -50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/* Fade In Left and Up Shorter */
@keyframes fadeInLeftUpShorter {
	from {
		opacity: 0;
		transform: translate(50px, 50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/* Expand In */
@keyframes expandIn {
	from {
		opacity: 0;
		transform: scale(0.8);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

/* Gradient Transition */
@keyframes gradientTransition {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* Slider Scroll Button Animation */
@keyframes sliderScrollButton {
	0% {
		opacity: 1;
		transform: translate3d(-50%, 0, 0);
	}

	70% {
		opacity: 1;
		transform: translate3d(-50%, 10px, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(-50%, 10px, 0);
	}
}

/* Arrow Left Right */
@keyframes arrowLeftRight {
	0% {
		transform: translate3d(-1px, 0, 0);
	}

	50% {
		transform: translate3d(1px, 0, 0);
	}

	100% {
		transform: translate3d(-1px, 0, 0);
	}
}

/* Nav Item Arrow */
@keyframes navItemArrow {
	0% {
		position: relative;
		left: -1px;
	}

	50% {
		position: relative;
		left: 3px;
	}

	100% {
		position: relative;
		left: -1px;
	}
}

/* Hover 3d Effect */

/* Hotspot */
@keyframes hotspot-pulsate {
	0% {
		transform: scale(1);
		opacity: 0.8;
	}

	45% {
		transform: scale(1.75);
		opacity: 0;
	}
}

@keyframes stop-hotspot-pulsate {
	from {
		opacity: 0.4;
	}

	to {
		transform: scale(2);
		opacity: 0;
	}
}

/* Dot Pulse */
@keyframes dotPulse {
	from {
		opacity: 1;
		transform: scale(0.2);
	}

	to {
		opacity: 0;
		transform: scale(1);
	}
}

/* Blur In */
@keyframes blurIn {
	from {
		opacity: 0;
		filter: blur(20px);
		transform: scale(1.3);
	}

	to {
		opacity: 1;
		filter: blur(0.1px);
		transform: none;
	}
}

.blurIn {
	animation-name: blurIn;
}

/* Ken Burns To Right */
@keyframes kenBurnsToRight {
	from {
		transform: scale(1.2);
	}

	to {
		transform: scale(1);
	}
}

/* Ken Burns To Left and Top */

/* Ken Burns To Left */
@keyframes kenBurnsToLeft {
	from {
		transform: scale(1.2);
	}

	to {
		transform: scale(1);
	}
}

.kenBurnsToLeft {
	animation-name: kenBurnsToLeft;
	animation-timing-function: linear;
	transform-origin: left;
}

/* Ken Burns To Left and Top */

/* Moving From Top to Bottom */
@keyframes bgPositionBottomToTop {
	from {
		background-position: bottom;
	}

	to {
		background-position: top;
	}
}

/* Pulse */
@keyframes pulseAnim {
	from {
		transform: scale(1);
		opacity: 1;
	}

	to {
		transform: scale(1.4);
		opacity: 0;
	}
}

/* Basic Rotation */
@keyframes basicRotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* Block Slide */
@keyframes blockSlideToRight {
	from {
		transform: translate(-110%, 0);
	}

	to {
		transform: translate(110%, 0);
	}
}

@keyframes blockSlideToLeft {
	from {
		transform: translate(110%, 0);
	}

	to {
		transform: translate(-110%, 0);
	}
}

@keyframes blockSlideToTop {
	from {
		transform: translate(0, 110%);
	}

	to {
		transform: translate(0, -110%);
	}
}

@keyframes blockSlideToBottom {
	from {
		transform: translate(0, -110%);
	}

	to {
		transform: translate(0, 110%);
	}
}

/* SVG Animation Effect 1 */
@keyframes svgAnimationEffect1 {
	from {
		stroke-dasharray: 1000;
		stroke-dashoffset: -500;
	}

	to {
		stroke-dasharray: 1000;
		stroke-dashoffset: 0;
	}
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-animation-inverse {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-180deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes highlightScribble1 {
	0% {
		stroke-dashoffset: 1;
		opacity: 0;
	}

	1% {
		opacity: 1;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

/* Highlighted Word */
@keyframes pencilAnimation {
	from {
		width: 0;
	}

	to {
		width: 74px;
	}
}

@keyframes pencilAnimation2 {
	from {
		width: 0;
	}

	to {
		width: 115px;
	}
}

/* Animated Letters */

/* Animated Letters - Type Writer Effect */
@keyframes typeWriterFlash {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Arrows */
.arrow {
	background: transparent url(../img/arrows.png) no-repeat 0 0;
	width: 47px;
	height: 120px;
	display: inline-block;
	position: relative;
}

@media (max-width: 575px) {
	.arrow {
		display: none;
	}
}

/* Badges */

/* Badges - Skin */

/* Circular Bars */

/* Circular Bar - Skin */

/* Progress */

/* Progress Bar - Skin */

/* Breadcrumb */
.breadcrumb {
	background: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
}

.breadcrumb > li {
	display: inline-block;
	font-size: 0.8em;
	text-transform: uppercase;
	text-shadow: none;
}

.breadcrumb > li + li:before {
	color: inherit;
	opacity: 0.5;
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
	content: "\f105";
	padding: 0 7px 0 5px;
}

/* Buttons */
.btn {
	font-size: 12.8px;
	font-size: 0.8rem;
	padding: 8.528px 14.928px;
	padding: 0.533rem 0.933rem;
	cursor: pointer;
	font-weight: 600;
}

.btn.btn-px-4 {
	padding-left: 28px;
	padding-left: 1.75rem;
	padding-right: 28px;
	padding-right: 1.75rem;
}

.btn.btn-px-5 {
	padding-left: 38.4px;
	padding-left: 2.4rem;
	padding-right: 38.4px;
	padding-right: 2.4rem;
}

.btn.btn-py-3 {
	padding-top: 20px;
	padding-top: 1.25rem;
	padding-bottom: 20px;
	padding-bottom: 1.25rem;
}


html body .btn:focus,
html body .btn.active,
html body .btn:active,
html body.body .btn:focus,
html body.body .btn.active,
html body.body .btn:active {
	box-shadow: none !important;
}

/* Dropdown Buttons */

/* Default */

/* Outline */

/* Modern */

/* Rounded */

/* Rounded */

/* 3d */

/* Arrow */

/* Swap */

@keyframes btnArrowEffect1 {
	0% {
		transform: translateX(0);
	}

	51% {
		transform: translateX(20px);
		opacity: 1;
	}

	52% {
		opacity: 0;
		transform: translateX(-20px);
	}

	53% {
		opacity: 0;
	}

	54% {
		opacity: 1;
	}

	100% {
		transform: translateX(0);
	}
}

/* Link Effect */

/* Icons	*/

/* Dropdown Button */

/* Button Light */

/* Hamburguer */

/* Hamburguer Sticky Colors */

/* Badge */

/* Gradient */

/* Play Button Size */

/* Curcle Buttons */

/* Buttons - Skin */

.btn-primary {
	--hover: #353535;
	background-color: var(--primary);
	border-color: var(--primary) var(--primary) var(--primary-300);
	color: var(--primary-inverse);
}

.btn-primary:hover {
	border-color: #353535 #353535 var(--primary);
	color: var(--primary-inverse);
}

.btn-primary:hover:not(.bg-transparent) {
	background-color: #353535;
}

.btn-primary:focus {
	border-color: var(--primary-300) var(--primary-300) var(--primary-300);
	color: var(--primary-inverse);
	box-shadow: 0 0 0 3px var(--primary-rgba-50);
}

.btn-primary:focus:not(.bg-transparent) {
	background-color: #353535;
}

 .btn-primary:disabled {
	border-color: var(--primary) var(--primary) var(--primary-300);
}

 .btn-primary:disabled:not(.bg-transparent) {
	background-color: var(--primary);
}

.btn-primary:active, .btn-primary.active {
	border-color: var(--primary-300) var(--primary-300) var(--primary-300) !important;
}

.btn-primary:active:not(.bg-transparent), .btn-primary.active:not(.bg-transparent) {
	background-color: #353535 !important;
	background-image: none !important;
}

.btn-dark {
	--hover: var(--dark--200);
	background-color: var(--dark);
	border-color: var(--dark) var(--dark) var(--dark-300);
	color: var(--dark-inverse);
}

.btn-dark:hover {
	border-color: var(--dark--200) var(--dark--200) var(--dark);
	color: var(--dark-inverse);
}

.btn-dark:hover:not(.bg-transparent) {
	background-color: var(--dark--200);
}

.btn-dark:focus {
	border-color: var(--dark-300) var(--dark-300) var(--dark-300);
	color: var(--dark-inverse);
	box-shadow: 0 0 0 3px var(--dark-rgba-50);
}

.btn-dark:focus:not(.bg-transparent) {
	background-color: var(--dark-200);
}

 .btn-dark:disabled {
	border-color: var(--dark) var(--dark) var(--dark-300);
}

 .btn-dark:disabled:not(.bg-transparent) {
	background-color: var(--dark);
}

.btn-dark:active, .btn-dark.active {
	border-color: var(--dark-300) var(--dark-300) var(--dark-300) !important;
}

.btn-dark:active:not(.bg-transparent), .btn-dark.active:not(.bg-transparent) {
	background-color: var(--dark-200) !important;
	background-image: none !important;
}

/* Effect */

@keyframes btn-pulse {
	0% {
		box-shadow: 0 0 0 0 var(--hover);
	}
}

/* Close */

/* Pagination */

/* Pagination - Skin */

/* Read More */

/* Call to Action */

/* Call to Action - Skin */

/* Cards */
.card {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.06);
}

.card-body {
	padding: 32px;
	padding: 2rem;
	position: relative;
	z-index: 1;
}

/* Border */

/* Flip Card */

/* Owl Carousel */
.owl-carousel {
	display: block;
	margin-bottom: 20px;
	opacity: 0;
}

.owl-carousel:not(.owl-loaded):not(.owl-carousel-light) > div, .owl-carousel:not(.owl-loaded):not(.owl-carousel-light) span {
	display: none;
}

.owl-carousel:not(.owl-loaded):not(.owl-carousel-light) > div:first-child, .owl-carousel:not(.owl-loaded):not(.owl-carousel-light) span:first-child {
	display: block;
}

.owl-carousel [class*="opacity-"]:not([class*="opacity-hover"]) {
	transition: ease opacity 300ms;
}

.owl-carousel [class*="opacity-"]:not([class*="opacity-hover"]):hover {
	opacity: 1 !important;
}

/* Carousel - Skin */

/* Carousel Center Active Item 2 - Skin */

/* Bottom Inside Shadow - Skin */

/* Cascading Images */

/* Countdown */

/* Countdown - Skin */

/* Counters */

/* Counters - Skin */

/* Dividers */

@keyframes dividerProgress25 {
	from {
		width: 0;
	}

	to {
		width: 25%;
	}
}

/* Divider Borders */

/* Dividers - Skin */

/* Dropdowns */

/* Dropdown - Skin */

/* Icon Featured */

/* Featured Box */

/* Featured Box Left */

/* Featured Boxes - Flat */

/* Featured Boxes - Style 2 */

/* Featured Boxes - Style 3 */

/* Featured Boxes - Style 4 */

/* Featured Boxes - Style 5, 6, 7 and 9 */

/* Featured Boxes - Style 6 */

/* Featured Boxes - Style 7 */

/* Featured Boxes - Style 8 */

/* Featured Boxes - Style 9 */

/* Featured Boxes Modern */

/* Featured Boxes */

/* Effects */

@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}

	50% {
		opacity: 0;
		transform: translate(-100%);
	}

	51% {
		opacity: 1;
	}
}

/* Feature Box */

/* Style 2 */

/* Style 3 */

/* Style 4 */

/* Style 5 */

/* Style 6 */

/* Feature Box Icon Size */

/* Reverse All Resolutions */

/* Reverse */

/* Full Width */

/* Icons - Skin */

/* Featured Box - - Skin */

/* Featured Box Modern - Gradient - Skin */

/* Featured Box - Effects - Skin */

/* Feature Box - Skin */

/* Forms */

textarea {
	resize: vertical;
}

.form-group {
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.form-group:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.form-control {
	border-color: rgba(0, 0, 0, 0.09);
}

.form-control:not(.form-control-lg) {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.3;
}

.form-control:not(.form-control-sm):not(.form-control-lg) {
	font-size: 13.6px;
	font-size: 0.85rem;
	line-height: 1.85;
}

.form-control:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-color: var(--grey-500);
}

.form-control.error {
	border-color: #a94442;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control.error:focus {
	border-color: #843534;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

/* Form - iOS Override */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
	-webkit-appearance: none;
}

.form-control::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #bdbdbd;
}

.form-control::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #bdbdbd;
}

.form-control:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #bdbdbd;
}

/* Placeholder Light */

/* Form - Bootstrap Override */

/* Custom Checkbox */

/* Custom Checkbox Switch */

/* Forms Validations */

/* Search Cancel Button */
input[type="search" i]::-webkit-search-cancel-button {
	margin-right: -7px !important;
}

/* Simple Search */

/* Search With Select */

/* Form Styles */

/* Floating Labels */

/* Fallback for Edge
-------------------------------------------------- */

/* Form Squared Borders */

/* Form With Icons */

/* Form Fields Rounded */

/* Form With Shadow */

/* Form Fieds Size - Global class to increase size of form controls */

/* Form Fieds Font Size - Global class to increase font size of form controls */

/* Custom Checkbox - Skin */

/* Custom Checkbox Switch - Skin */

/* Form Control - Skin */
.form-control.bg-primary {
	color: var(--primary-inverse);
	border-color: var(--primary);
}

.form-control.bg-primary::-webkit-input-placeholder {
	color: var(--primary-inverse);
}

.form-control.bg-primary::-moz-placeholder {
	color: var(--primary-inverse);
}

.form-control.bg-primary:-ms-input-placeholder {
	color: var(--primary-inverse);
}

.form-control.bg-primary:-moz-placeholder {
	color: var(--primary-inverse);
}

/* Form Range - Skin */

/* Form Check - Skin */

/* GDPR */

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: var(--dark);
	font-weight: 200;
	letter-spacing: -.05em;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 2.6em;
	line-height: 44px;
	margin: 0 0 32px 0;
}

h2 {
	font-size: 2.2em;
	font-weight: 300;
	line-height: 42px;
	margin: 0 0 32px 0;
}

h3 {
	font-size: 1.8em;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 33px;
	text-transform: uppercase;
}

h4 {
	font-size: 1.4em;
	font-weight: 600;
	line-height: 27px;
	margin: 0 0 14px 0;
}

h5 {
	font-size: 1em;
	font-weight: 600;
	line-height: 18px;
	margin: 0 0 14px 0;
	text-transform: uppercase;
}

h6 {
	color: var(--dark--200);
	font-size: 1em;
	font-weight: 400;
	line-height: 18px;
	margin: 0 0 14px 0;
}

h1.small {
	font-size: 2.2em;
	line-height: 42px;
	font-weight: 600;
}

/* Heading */

/* Modal Titles */

@media (max-width: 575px) {
	h2 {
		line-height: 40px;
	}
}

/* Highlight */

/* Highlight Text - Skin */

/* Icons */

/* Font Awesome List */

/* Font Awesome - Skin */

/* Simple Line Icons List */

/* Porto Icons */

/* Area Expanded Change */

/* Icon Animated */

/* Elements Shadow Icon */

/* Custom Image Icons */

/* Thumbnails */

/* Image Gallery */

/* Thumbnail Gallery */

/* Masonry */

/* Masonry Loading */

/* Mockup */

/* Hover Effect 3d */

/* Profile Image */

/* Lazy */

/* Thumb Gallery */

/* Arrows */

/* Close */

/* No Margins */

/* Zoom */

/* Animnate */

/* Fade */

/* Dialog */

/* White Popup Block */

/* Lightbox Opened */

/* Modal Opened */

/* List */
.list li {
	margin-bottom: 13px;
}

.list.list-unstyled {
	padding-left: 0;
	padding-right: 0;
}

.list-unstyled {
	padding-left: 0;
	padding-right: 0;
}

/* Sitemap */

/* Lists - Skin */

/* Loading Overlay */

/* Bounce Loading */

@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}
}

/* Loading Overlay Percentage */

/* Cubes Effect */

@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(129px) rotateX(-180deg);
		opacity: 0;
	}

	25%,
		75% {
		transform: perspective(129px) rotateX(0deg);
		opacity: 1;
	}

	90%,
		100% {
		transform: perspective(129px) rotateY(180deg);
		opacity: 0;
	}
}

/* Cube Progress Effect */

@keyframes cssload-cube-progress {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes cssload-cube-progress-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

/* Float Rings Effect */

@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

/* Float Bars Effect */

@keyframes cssload-upDown {
	from {
		transform: translateY(19px);
	}

	to {
		transform: translateY(-19px);
	}
}

@keyframes cssload-upDown2 {
	from {
		transform: translateY(29px);
	}

	to {
		transform: translateY(-19px);
	}
}

/* Speeding Wheel */

@keyframes cssload-spin {
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Zenith Effect */

@keyframes cssload-spin {
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Spinning Square Effect */

@keyframes cssload-spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes cssload-blur1 {
	to {
		transform: rotate(-30deg);
	}
}

@keyframes cssload-blur2 {
	to {
		transform: rotate(-15deg);
	}
}

/* Pulse */

@keyframes cssload-pulse-loader {
	from {
		transform: scale(0);
		opacity: 1;
	}

	to {
		transform: scale(1);
		opacity: 0;
	}
}

/* Loading Overlay - Skin */
/* Cubes - Skin */

/* CubeProgress - Skin */

/* Float Rings - Skin */

/* Float Bars - Skin */

/* Speeding Wheel - Skin */

/* Zenith - Skin */

/* Spinning Square Effect - Skin */

/* Pulse Effect - Skin */

/* Maps */

/* Map Pins */
@keyframes mapPinPulse {
	from {
		transform: scale(1);
		opacity: 0.7;
	}

	to {
		transform: scale(10);
		opacity: 0;
	}
}

/* Map Info Window */

/* Map Pin - Skin */

/* Google Map on Footer */

/* RTL Popup */

/* Pre */
pre {
	background: var(--grey-100);
	border: 1px solid #e8e8e8;
	border-radius: var(--border-radius);
	padding: 15px;
}

/* Alternative Font - Skin */

/* Blockquote - Skin */

/* Drop Caps - Skin */

/* Offset Anchor */

/* Alerts */

/* Alerts - Skin */

/* Ratio */

/* Alert Admin */

/* Not Included */

/* Tip */

/* Ajax Box */

/* Notice Top Bar */

/* Hover effetcs */

.hover-effect-2 {
	opacity: 1;
	transition: ease opacity 300ms;
}

.hover-effect-2:hover {
	opacity: 0.85;
}

/* Sticky Wrapper */

/* Curved Border */

/* Vertical Divider */

/* Star Rating */

/* Image Hotspots */

/* Page Transition */

/* 
Image 360º Viewer
Credits: Codyhouse (https://codyhouse.co/gem/360-degrees-product-viewer)
*/

@keyframes cd-bounce {
	0% {
		transform: translateX(-50%) scale(0);
	}

	60% {
		transform: translateX(-50%) scale(1.1);
	}

	100% {
		transform: translateX(-50%) scale(1);
	}
}

/* 360º Image Viewer - Skin */

/* Payment CC */

/* ElevateZoom Fix */

/* PORTO Big Title */

/* Read More Rendered (JS Plugin) */

/* Style Switcher Open Loader Button */

/* Envato Frame */

/* Envato Buy Redirect and Demos */

/* Video */

/* Cursor Effect */

/* Cursor Effect - Skin */

/* Simple Copy To Clipboard */

/* Particles */

/* Patterns */

/* Progress Reading */

/* Content Switcher */

/* reCaptcha Fix */

/* Inverted - Skin */

/* Hotspots - Skin */

/* Popover */

/* Scrollable	- Skin */

/* Vertical Lines */

/* Popup */

/* Nav */
.nav > li > a {
	text-decoration: none;
}

.nav > li > a:hover, .nav > li > a:focus {
	background: transparent;
	text-decoration: none;
}

/* Nav List */

ul.narrow li a {
	padding: 4px 0;
}

ul.nav-pills > li > a.active {
	color: var(--light);
	background-color: var(--grey-500);
}

ul.nav-pills > li > a.active:hover, ul.nav-pills > li > a.active:focus {
	color: var(--light);
	background-color: var(--grey-500);
}

/* Nav Pills */

.nav-pills .nav-link.active {
	background-color: transparent;
}

.show > .nav-pills .nav-link {
	background-color: transparent;
}

/* Nav Light */
.nav-light > li > a {
	color: var(--light);
}

/* Nav Active Style - Active Bottom Border */

/* Nav Secondary */

/* Boxed */

/* Section Scroll - Dots Navigation */

/* Nav Colors */

.nav-pills > li.active > a,
.nav-pills .nav-link.active {
	background-color: var(--primary);
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
	background-color: var(--primary);
}

/* Nav Pills Colors */

/* Nav Link Colors */
.nav-link {
	color: var(--primary);
}

.nav-link:hover {
	color: var(--primary--100);
}

.nav-link:focus {
	color: var(--primary--100);
}

.nav-link:active {
	color: var(--primary-100);
}

/* Section Scroll Nav Colors */

/* Overlays */
.overlay {
	position: relative;
}

.overlay:before {
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: var(--dark);
	opacity: 0;
	pointer-events: none;
	transition: ease opacity 300ms 100ms;
}

.overlay:hover:before, .overlay.overlay-show:before, .overlay.show:before {
	opacity: 0.8;
}

.overlay.overlay-op-3:hover:before, .overlay.overlay-op-3.overlay-show:before, .overlay.overlay-op-3.show:before {
	opacity: 0.3;
}

.overlay.overlay-op-9:hover:before, .overlay.overlay-op-9.overlay-show:before, .overlay.overlay-op-9.show:before {
	opacity: 0.6;
}

.overlay .container,
.overlay .container-fluid {
	position: relative;
	z-index: 3;
}

/* Overlay Gradient Bottom Content */

/* Overlay Gradient Top Content */

/* Overlay Gradient */

/* Overlay - Skin */

/* Overlay Gradient - Skin */

/* Parallax */

/* Parallax - Skin */

/* Pricing Tables */

/* Pricing Block Style */

/* Price Menu */

/* Pricing Tables - Skin */

/* Process */
.process {
	text-align: center;
}

@keyframes processShapesScaleOne {
	0% {
		opacity: 0.6;
		transform: translate3d(-50%, -50%, 0) scale(1.5);
	}

	25% {
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) scale(1.8);
	}

	50% {
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) scale(1);
	}

	100% {
		opacity: 0.6;
		transform: translate3d(-50%, -50%, 0) scale(1.5);
	}
}

@keyframes processShapesScaleTwo {
	0% {
		opacity: 0.3;
		transform: translate3d(-50%, -50%, 0) scale(2);
	}

	25% {
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) scale(2.3);
	}

	50% {
		opacity: 0;
		transform: translate3d(-50%, -50%, 0) scale(1);
	}

	100% {
		opacity: 0.3;
		transform: translate3d(-50%, -50%, 0) scale(2);
	}
}

/* Process - Skin */

/* Scroll to Top */

/* Scrollable */

/* Section Featured */
section.section {
	background: var(--grey-100);
	border-top: 5px solid var(--grey-100);
	margin: 30px 0;
	padding: 50px 0;
}

section.section > .container {
	position: relative;
}

section.section.section-height-3 {
	padding: 73.846px 0;
	padding: 4.6153846154rem 0;
}

/* Section With Shape Divider */
@keyframes shapeDividerToLeft {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(-200%, 0, 0);
	}
}

@keyframes shapeDividerToRight {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(200%, 0, 0);
	}
}

/* Sections - Skin */

/* Sidebar */

/* Side Panel */

/* Home Slider - Revolution Slider */

/* Revolution Slider Typewriter Addon */

/* Slider With Overlay */

/* Slider Scroll Button */

/* Arrows */

/* Bullets */

/* Embed Border */

/* Defaults */

/* Slider With Overlay */

/* Slider Contact Form */

/* Boxed */

/* Side Header - Full Screen Slider Height On Mobile */

/* Slider - Skin */

/* Social Icons */

/* Sort Source Wrapper */

/* Sort Source */

/* Sort Source Style 2 */

/* Sort Source Style 3 */

/* Sort Destination */

/* Sort Loading */

/* Sort Colors */

/* Clip SVG */

/* SVG Colors */

/* SVG Animations */

/* Tables */
.table td, .table th {
	border-color: rgba(0, 0, 0, 0.06);
}

.table > :not(:first-child) {
	border-top-color: rgba(0, 0, 0, 0.06);
}

/* Tabs */

/* Right Aligned */

/* Bottom Tabs */

/* Vertical */

/* Vertical - Left Side */

/* Vertical - Right Side */

/* Justified */

/* Bottom Tabs with Justified Nav */

/* Center */

/* Navigation */

/* Simple */

/* Tabs - Skin */

/* Testimonials */

/* Style 2 */

/* Style 3 */

/* Style 4 */

/* Style 5 */

/* Style 6 */

/* Style 7 */

/* With Quotes */

/* Transparent Background */

/* Alternarive Font */

/* Light */

/* Testimonial - Skin */

/* Thumb Info */

/* Thumb Info Ribbon */

/* Thumb Info - Full Width */

/* Thumb Info Caption	*/

/* Thumb Info Side Image	*/

/* Thumb Info Social Icons */

/* Thumb Info Floating Caption */

/* Thumb - Skin */

/* Thumb Info Floating Caption - Skin */

/* Timeline */

/* Timeline - Skin */

/* History - Skin */

/* Toggles */

/* Toggle - Skin */

/* Blockquotes */

/* Small */
small, .small {
	font-size: 70%;
}

/* Paragraphs */
p {
	color: var(--default);
	line-height: 26px;
	margin: 0 0 20px;
}

/* Lead */

/* Links */
a {
	color: var(--primary);
}

a:hover {
	color: var(--primary--100);
}

a:focus {
	color: var(--primary--100);
}

a:active {
	color: var(--primary-100);
}

/* Drop Caps */

/* Default Font Style */

/* Alternative Font Style */

.alternative-font-4 {
	font-family: 'Poppins', Arial, sans-serif !important;
}

/* Gradient Text */

/* Small Sup style */

/* Text Color Default */

/* Marquee */

/* Mark */

/* Video */

/* Video - Skin */

/* rotate-1 */

@keyframes word-rotator-rotate-1-in {
	0% {
		transform: rotateX(180deg);
		opacity: 0;
	}

	35% {
		transform: rotateX(120deg);
		opacity: 0;
	}

	65% {
		opacity: 0;
	}

	100% {
		transform: rotateX(360deg);
		opacity: 1;
	}
}

@keyframes word-rotator-rotate-1-out {
	0% {
		transform: rotateX(0deg);
		opacity: 1;
	}

	35% {
		transform: rotateX(-40deg);
		opacity: 1;
	}

	65% {
		opacity: 0;
	}

	100% {
		transform: rotateX(180deg);
		opacity: 0;
	}
}

/* type */

@keyframes word-rotator-pulse {
	from, to {
		background-color: transparent;
	}

	50% {
		background-color: black;
	}
}

@keyframes word-rotator-pulse-light {
	from, to {
		background-color: transparent;
	}

	50% {
		background-color: white;
	}
}

/* rotate-2 */

@keyframes word-rotator-rotate-2-in {
	0% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(90deg);
	}

	60% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(-10deg);
	}

	100% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(0deg);
	}
}

@keyframes word-rotator-rotate-2-out {
	0% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(0);
	}

	60% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(-100deg);
	}

	100% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(-90deg);
	}
}

/* loading-bar */

/* slide */

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	60% {
		opacity: 1;
		transform: translateY(20%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-out {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	60% {
		opacity: 0;
		transform: translateY(120%);
	}

	100% {
		opacity: 0;
		transform: translateY(100%);
	}
}

/* clip */

/* zoom */

@keyframes zoom-in {
	0% {
		opacity: 0;
		transform: translateZ(100px);
	}

	100% {
		opacity: 1;
		transform: translateZ(0);
	}
}

@keyframes zoom-out {
	0% {
		opacity: 1;
		transform: translateZ(0);
	}

	100% {
		opacity: 0;
		transform: translateZ(-100px);
	}
}

@keyframes word-rotator-rotate-3-in {
	0% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}

@keyframes word-rotator-rotate-3-out {
	0% {
		transform: rotateY(0);
	}

	100% {
		transform: rotateY(-180deg);
	}
}

/* scale */

@keyframes scale-up {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	60% {
		transform: scale(1.2);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale-down {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	60% {
		transform: scale(0);
		opacity: 0;
	}
}

/* push */

@keyframes push-in {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	60% {
		opacity: 1;
		transform: translateX(10%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes push-out {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	60% {
		opacity: 0;
		transform: translateX(110%);
	}

	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

/* Word Rotator - Skin */

/* Custom Map */

/* Home Intro */

/* Home Intro Compact */

@media (max-width: 991px) {
		/* Home Intro */
}

@media (max-width: 767px) {
		/* Home Intro */
}

/* Home Concept SVG Animations */
@keyframes animatedLineBg {
	from {
		stroke-dasharray: 1000;
	}

	to {
		stroke-dasharray: 1360;
	}
}

@keyframes animatedLineSmallCircle {
	from {
		stroke-dasharray: 1000;
	}

	to {
		stroke-dasharray: 1120;
	}
}

@keyframes animatedLineBigCircle {
	from {
		stroke-dasharray: 1000;
	}

	to {
		stroke-dasharray: 1266;
	}
}

@keyframes animatedInitialPin {
	0% {
		transform: translate(2px, 69px) scale(0.23);
	}

	33% {
		transform: translate(2px, 79px) scale(0.23);
	}

	66% {
		transform: translate(2px, 74px) scale(0.23);
	}

	100% {
		transform: translate(2px, 79px) scale(0.23);
	}
}

@keyframes animatedFinalPin {
	0% {
		transform: translate(325px, -19px) scale(0.23) rotate(36deg);
	}

	33% {
		transform: translate(325px, -13px) scale(0.23) rotate(36deg);
	}

	66% {
		transform: translate(325px, -16px) scale(0.23) rotate(36deg);
	}

	100% {
		transform: translate(325px, -13px) scale(0.23) rotate(36deg);
	}
}

/* Firefox Final Pin Animation */
@keyframes animatedFinalPinFirefox {
	0% {
		transform: translate(193px, -16px) scale(0.23) rotate(36deg);
	}

	33% {
		transform: translate(193px, -10px) scale(0.23) rotate(36deg);
	}

	66% {
		transform: translate(193px, -13px) scale(0.23) rotate(36deg);
	}

	100% {
		transform: translate(193px, -10px) scale(0.23) rotate(36deg);
	}
}

/* Home Concept */

/* Home - Skin */

/* Home Intro - Skin */

/* Portfolio */

/* Portfolio Info */

/* Portfolio List */

/* Portfolio Details */

/* Portfolio Modal */

/* Portfolio Navigation */

/* Portfolio - Skin */

/* Team List */

/* Search Results */

/* Page 404 */
