/*
Name: 			theme-shop.css
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version:	10.1.0
*/
/* Custom Font - Stars (From WooCommerce) */
@font-face {
	font-family: 'star';
		src: url("fonts/star.eot");
		src: url("fonts/star-1.eot") format("embedded-opentype"), url("fonts/star.woff") format("woff"), url("fonts/star.ttf") format("truetype"), url("fonts/star.svg") format("svg");
		font-weight: normal;
		font-style: normal;
}

/* Shop - Base */

/* Quick View Popup Fix (When Close) */

/* Product Info */

/* Rating */

/* Product Thumb Info */

/* Product Thumb Info - Full Width */

/* Products Navigation */

/* Price */

/* Shop Finish Buy Steps Nav */
/* Shop Table */

/* Shop - Skin */
